.App{
  text-align: center;
}
body {
  align-items: top;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color:lightblue;
}
.datepicker{
  margin-bottom: 20px;
}
.datepicker input{
  text-align: center;
  background-color: rgb(219, 238, 245);
  width: 300px;
  height: 50px;
  border-color:navy;
  border-radius: 10px 10px 10px 10px;
  font-size: 1.4em; 
  border-width: 3px;
  font-family: 'Josefin Sans', sans-serif;
}
.label{
  padding-bottom: 10px;
}

.button {
  margin-bottom: 20px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4b97df;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  font-family: 'Josefin Sans', sans-serif;
}

.button:hover {background-color: #2a5883}

.button:active {
  background-color: #2a5883;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.picker {
  margin-top: 10px;
  margin-right: 40px;
  margin-left:40px;
  margin-bottom: 40px;
  background-color: rgb(219, 238, 245);
  width: 120px;
  height: 30px;
  border-color:navy;
  border-radius: 10px 10px 10px 10px;
  font-size: 1.2em; 
  font-family: 'Josefin Sans', sans-serif;
}